body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #af2121;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h1 {
    margin-bottom: 20px;
}

.display {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.key, .keycode {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 100px;
}

h2 {
    margin-top: 0;
}

p {
    font-size: 1.5em;
    margin: 10px 0;
}

.history {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: left;
}
